@use "../../Abstracts/" as *;

.card {
    &.simple {
        $border-color: var(--clr-blueGray-600);
        // padding-top: 1em;
        background-color: var(--clr-turquoise-900);
        box-shadow: $boxShadow1;
        border-radius: $radius5;
        @include flex(column, space-between, normal);
        gap: 8rem;

        > header {
            position: relative;
            @include flex(row, space-between, center);
            //   font-size: 1.5em;
            padding-inline: 1em;
            color: var(--clr-blueGray-800);
            padding-block: 0.9em;
            border-radius: $radius5 $radius5 0 0;
            p {
                &.status,
                &.date {
                    font-weight: 500;
                    span {
                        font-weight: 400;
                    }
                }
            }
            > button {
                color: inherit;
                border-radius: 5px;
                transition: $bgTransition;
                &:hover {
                    background: var(--clr-blueGray-300);
                }
            }
            .actions-holder {
                @include dashDropDown(
                    max-content,
                    var(--clr-white-1000),
                    35px,
                    15px
                );

                &.show {
                    display: block;
                }
                > li {
                    transition: $bgTransition;
                    &:hover {
                        background-color: var(--clr-blueGray-0);
                    }
                    > a,
                    > button {
                        // padding-block: 0.2em;
                        padding: 0.2em 0.8em;
                        display: block;
                        width: 100%;
                        text-align: left;
                        color: var(--clr-black-300);
                        letter-spacing: 1px;
                    }
                }
            }
        }
        > .info {
            min-height: 200px;
            padding: 5em 1em 1em;
            text-align: center;
            background-color: var(--clr-teal-200);
            color: var(--clr-white-1000);
            position: relative;
            border-radius: $radius5;
            img {
                $size: 150px;
                width: $size;
                height: $size;
                border-radius: 50%;
                position: absolute;
                top: -35%;
                left: 50%;
                translate: -50%;
            }
            h3 {
                margin-top: 1rem;
                i {
                    margin-left: 5px;
                    font-size: 0.8em;
                }

                a {
                    color: inherit;
                    text-decoration: underline;
                    transition: $colorTransition;
                    &:hover {
                        color: var(--clr-blueGray-100);
                    }
                }
                span.status {
                    $size: 13px;
                    width: $size;
                    display: inline-block;
                    height: $size;
                    background: var(--clr-red-600);
                    border-radius: 50%;
                    margin-left: 10px;
                    &.published {
                        background-color: var(--clr-green-600);
                    }
                }
            }
            .details {
                margin-top: 15px;

                border-top: 1px solid $border-color;
                > * {
                    flex: 1;
                    padding-block: 1em;
                }
                .detail {
                    &:first-of-type {
                        border-bottom: 1px solid $border-color;
                    }
                    p {
                    }
                    span {
                    }
                }
            }
        }
        @include min-width("xsmall") {
            .info {
                .details {
                    flex-direction: row;
                    align-items: center;
                    .detail {
                        &:first-of-type {
                            border-right: 1px solid $border-color;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    &.voucher-result,
    &.voucher {
        background: linear-gradient(
            160deg,
            var(--clr-teal-400) 60%,
            var(--clr-teal-300)
        );

        padding: 1em 0;
        border-radius: $radius5;
        box-shadow: $boxShadow1;
        position: relative;
        .header {
            padding-inline: 1em;
            img {
                border-radius: 5px;
                width: 40px;
            }
            p.value {
                font-size: 30px;
                font-weight: bold;
                color: var(--clr-turquoise-900);
                letter-spacing: 1px;
            }
        }
        p.voucher-number {
            margin-block: 1em;
            font-size: 18px;
            line-height: 2;
            color: var(--clr-white-1000);
            letter-spacing: 2px;
            width: max-content;
            margin-inline: auto;
        }
        .details {
            padding-inline: 1em;

            gap: 0.5em;
            letter-spacing: 1px;
            font-weight: bold;
            color: var(--clr-white-1000);
            .detail {
                p.p-span {
                    span {
                    }
                }
            }
        }
        > button.show-voucher-btn {
            position: absolute;
            inset: 0;
            background-color: var(--clr-teal-900);
            transition: opacity 0.3s ease;
            opacity: 0;
            border-radius: $radius5;
            &:hover {
                opacity: 0.1;
            }
        }
    }
    &.voucher-result {
        margin-block: 1em;
        background: none;
        background-color: var(--clr-turquoise-900);
        width: min(400px, 95%);
        padding: 1em;
        .result-header {
            padding-inline: 1em;
            margin-bottom: 1em;
            > h2 {
                color: var(--clr-teal-400);
                letter-spacing: 2px;
            }
        }
        .header {
            p.value {
                color: var(--clr-blueGray-800);
            }
        }
        p.voucher-number {
            color: var(--clr-blueGray-800);
            font-weight: bold;
            border-block: 1px solid var(--clr-black-700);
            font-size: 20px;
        }
        .details {
            color: var(--clr-black-400);
        }
        .used-by-holder {
            color: var(--clr-blueGray-800);
            h3 {
                font-size: 18px;
                letter-spacing: 1px;
                color: var(--clr-black-250);
                margin-block: 0.7em 0.3em;
            }
            .info-holder {
                gap: 1em;
                flex-wrap: wrap;
                img {
                    width: 40px;
                    border-radius: 50%;
                }
                p {
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
            p.date {
            }
        }
    }
    &.sector {
        background-color: var(--clr-olive-800);
        .info {
            background-color: var(--clr-navy-100);
        }
        p.p-span {
            // text-align: left;
            margin-top: 2em;
        }
    }
    &.fee {
        background-color: var(--clr-mustard-700);
        gap: 1rem;
        padding: 0 1em 2em;
        text-align: center;
        border-radius: 10px;
        header {
            padding-inline: 0;
            .actions-holder {
                right: 15px;
            }
        }
        .top-header {
            h3 {
                color: var(--clr-blueGray-600);
                font-size: 20px;
                letter-spacing: 2px;
            }
            p.price {
                font-size: 45px;
                margin-block: 0.5em;
                color: var(--clr-blueGray-800);
                font-weight: bold;
                letter-spacing: 1px;
                small {
                    font-size: 0.4em;
                    font-weight: normal;
                }
            }
        }
        > ul {
            li {
                margin-block: 0.3em;
                color: var(--clr-blueGray-600);
                letter-spacing: 1px;
                text-transform: capitalize;
                list-style-type: disc;
                list-style-position: inside;
            }
        }
    }
    &.review {
        gap: 1em;
        justify-content: space-between;
        height: calc(100% - 49px);
        &.addBox {
            height: 380px;
        }
        background-color: var(--clr-turquoise-900);
        > .review-criteria {
            padding: 1em;
        }
    }
    &.client,
    &.seller {
        background-color: var(--clr-blueGray-100);
        .info {
            background-color: var(--clr-blueGray-900);
        }
    }
    &.single-info-card {
        background-color: var(--clr-olive-800);
        > p {
            &.main-value {
                font-size: 45px;
                text-align: center;
                padding-block: 1em;
                font-weight: bold;
                letter-spacing: 1px;
                color: var(--clr-teal-300);
                small {
                    font-size: 0.4em;
                }
            }
        }
        .details {
            padding: 0 1em 1em;
            .detail {
                column-gap: 10px;
                row-gap: 0;
                color: var(--clr-teal-300);
                @include flex(row, flex-start, center);
                flex-wrap: wrap;
                font-weight: bold;
                font-size: 18px;
                h4.detail-title {
                    min-width: 120px;
                    flex-shrink: 0;
                    font-weight: 500;
                }
                p.detail-value {
                    font-weight: 500;
                }
            }
        }
    }
}

.card-holder {
    .card-title {
        border: 1px solid var(--clr-white-800);
        padding: 0.6em 1em;
        background: var(--clr-turquoise-900);
        border-radius: 5px 5px 0 0;
        // box-shadow: $boxShadow2;
        h3 {
            color: var(--clr-blueGray-800);
            // color: red;
            letter-spacing: 1px;
        }
        a {
            color: var(--clr-blueGray-700);
            text-decoration: underline;
            letter-spacing: 1px;
            transition: $colorTransition;
            &:hover {
                color: var(--clr-blueGray-500);
            }
        }
        padding: 0.6em 1em;
    }
    .card {
        border-radius: 0 0 $radius5 $radius5;
    }
}

.info-card {
    margin: 0;
    padding: 0;
    border-radius: $radius10;
    box-shadow: $boxShadow1;
    $cardPadding: 1em;
    .card-header {
        padding: 0.5em $cardPadding;
        background-color: var(--clr-blueGray-800);
        border-radius: $radius5 $radius5 0 0;
        h2 {
            color: var(--clr-turquoise-900);
            letter-spacing: 1px;
            font-size: 20px;
        }
    }
    .card-info {
        padding: $cardPadding;

        .info {
            // display: grid;
            // grid-template-columns: 150px 1fr;
            // grid-template-columns: repeat(auto-fit, (minmax(150px, 1fr)));
            // align-items: center;
            // grid-auto-rows: auto;
            @include flex(column, flex-start, flex-start);
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            .info-label {
                @include flex(row, flex-start, center);
                // display: grid;
                // grid-template-columns: 30px 1fr;
                // gap: 5px;
                // align-items: center;
                color: var(--clr-blueGray-800);
                letter-spacing: 1px;
                width: 150px;
                flex-shrink: 0;
                &.lg {
                    width: 180px;
                }
                i {
                    width: 30px;
                    flex-shrink: 0;
                }
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .info-value {
                p {
                    color: var(--clr-blueGray-600);
                    // white-space: pre-wrap;
                }
            }
        }
    }
    @include min-width("small") {
        .card-info {
            .info {
                flex-direction: row;
                align-items: center;
            }
        }
    }
}
