// $navyColor: #002b5b;
// $navyColor: hsl(190, 100%, 37%);
// var(--clr-white-500)LishColor: hsl(203, 82%, 13%);
// $greenColor: #009fbd;
// $lightColor: hsl(0, 0%, 93%);
// $white: white;
// $gray: hsl(0, 0%, 50%);

$boxShadow1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$boxShadow2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$colorTransition: color 0.3s ease;
$bgTransition: background-color 0.3s ease;
$translateTransistion: translate 0.3s ease;
$popUpShadow: 0 0 3px 0px var(--clr-white-500);
$radius5: 5px;
$radius10: 10px;

$colors: (
  teal: (
    100: hsl(190, 100%, 7%),
    200: hsl(190, 100%, 17%),
    300: hsl(190, 100%, 27%),
    400: hsl(190, 100%, 37%),
    500: hsl(190, 100%, 47%),
    600: hsl(190, 100%, 57%),
    700: hsl(190, 100%, 67%),
    800: hsl(190, 100%, 77%),
    900: hsl(190, 100%, 97%),
  ),
  navy: (
    100: hsl(203, 82%, 13%),
    200: hsl(203, 82%, 23%),
    300: hsl(203, 82%, 33%),
    400: hsl(203, 82%, 43%),
    500: hsl(203, 82%, 53%),
    600: hsl(203, 82%, 63%),
    700: hsl(203, 82%, 73%),
    800: hsl(203, 82%, 83%),
    900: hsl(203, 82%, 93%),
  ),
  red: (
    100: hsl(0, 91%, 3%),
    200: hsl(0, 91%, 13%),
    300: hsl(0, 91%, 23%),
    400: hsl(0, 91%, 33%),
    500: hsl(0, 91%, 43%),
    600: hsl(0, 91%, 53%),
    700: hsl(0, 91%, 63%),
    800: hsl(0, 91%, 73%),
    900: hsl(0, 91%, 83%),
  ),
  orange: (
    100: hsl(22, 100%, 10%),
    200: hsl(22, 100%, 20%),
    300: hsl(22, 100%, 30%),
    400: hsl(22, 100%, 40%),
    500: hsl(22, 100%, 50%),
    600: hsl(22, 100%, 60%),
    700: hsl(22, 100%, 70%),
    800: hsl(22, 100%, 80%),
    900: hsl(22, 100%, 90%),
  ),
  blue: (
    100: hsl(212, 100%, 8%),
    200: hsl(212, 100%, 18%),
    300: hsl(212, 100%, 28%),
    400: hsl(212, 100%, 38%),
    500: hsl(212, 100%, 48%),
    600: hsl(212, 100%, 58%),
    700: hsl(212, 100%, 68%),
    800: hsl(212, 100%, 78%),
    900: hsl(212, 100%, 88%),
  ),
  green: (
    100: hsl(130, 62%, 12%),
    200: hsl(130, 62%, 22%),
    300: hsl(130, 62%, 32%),
    400: hsl(130, 62%, 42%),
    500: hsl(130, 62%, 52%),
    600: hsl(130, 62%, 62%),
    700: hsl(130, 62%, 72%),
    800: hsl(130, 62%, 82%),
    900: hsl(130, 62%, 92%),
  ),
  mustard: (
    100: hsl(45, 70%, 17%),
    200: hsl(45, 70%, 27%),
    300: hsl(45, 70%, 37%),
    400: hsl(45, 70%, 47%),
    500: hsl(45, 70%, 57%),
    600: hsl(45, 70%, 67%),
    700: hsl(45, 70%, 77%),
    800: hsl(45, 70%, 87%),
    900: hsl(45, 70%, 97%),
  ),
  rust: (
    100: hsl(18, 70%, 17%),
    200: hsl(18, 70%, 27%),
    300: hsl(18, 70%, 37%),
    400: hsl(18, 70%, 47%),
    500: hsl(18, 70%, 57%),
    600: hsl(18, 70%, 67%),
    700: hsl(18, 70%, 77%),
    800: hsl(18, 70%, 87%),
    900: hsl(18, 70%, 97%),
  ),
  olive: (
    100: hsl(60, 50%, 17%),
    200: hsl(60, 50%, 27%),
    300: hsl(60, 50%, 37%),
    400: hsl(60, 50%, 47%),
    500: hsl(60, 50%, 57%),
    600: hsl(60, 50%, 67%),
    700: hsl(60, 50%, 77%),
    800: hsl(60, 50%, 87%),
    900: hsl(60, 50%, 97%),
  ),
  purple: (
    100: hsl(285, 81%, 11%),
    200: hsl(285, 81%, 21%),
    300: hsl(285, 81%, 31%),
    400: hsl(285, 81%, 41%),
    500: hsl(285, 81%, 51%),
    600: hsl(285, 81%, 61%),
    700: hsl(285, 81%, 71%),
    800: hsl(285, 81%, 81%),
    900: hsl(285, 81%, 91%),
  ),
  sand: (
    100: hsl(42, 70%, 7%),
    200: hsl(42, 70%, 17%),
    300: hsl(42, 70%, 27%),
    400: hsl(42, 70%, 37%),
    500: hsl(42, 70%, 47%),
    600: hsl(42, 70%, 57%),
    700: hsl(42, 70%, 67%),
    800: hsl(42, 70%, 77%),
    900: hsl(42, 70%, 87%),
  ),
  coral: (
    100: hsl(10, 70%, 17%),
    200: hsl(10, 70%, 27%),
    300: hsl(10, 70%, 37%),
    400: hsl(10, 70%, 47%),
    500: hsl(10, 70%, 57%),
    600: hsl(10, 70%, 67%),
    700: hsl(10, 70%, 77%),
    800: hsl(10, 70%, 87%),
    900: hsl(10, 70%, 97%),
  ),
  turquoise: (
    100: hsl(180, 70%, 17%),
    200: hsl(180, 70%, 27%),
    300: hsl(180, 70%, 37%),
    400: hsl(180, 70%, 47%),
    500: hsl(180, 70%, 57%),
    600: hsl(180, 70%, 67%),
    700: hsl(180, 70%, 77%),
    800: hsl(180, 70%, 87%),
    900: hsl(180, 70%, 97%),
  ),
  rose-gold: (
    100: hsl(6, 50%, 7%),
    200: hsl(6, 50%, 17%),
    300: hsl(6, 50%, 27%),
    400: hsl(6, 50%, 37%),
    500: hsl(6, 50%, 47%),
    600: hsl(6, 50%, 57%),
    700: hsl(6, 50%, 67%),
    800: hsl(6, 50%, 77%),
    900: hsl(6, 50%, 87%),
  ),
  yellow: (
    100: hsl(50, 100%, 10%),
    200: hsl(50, 100%, 20%),
    300: hsl(50, 100%, 30%),
    400: hsl(50, 100%, 40%),
    500: hsl(50, 100%, 50%),
    600: hsl(50, 100%, 60%),
    700: hsl(50, 100%, 70%),
    800: hsl(50, 100%, 80%),
    900: hsl(50, 100%, 90%),
  ),
  white: (
    0: hsl(0, 0%, 0%),
    100: hsl(0, 0%, 10%),
    200: hsl(0, 0%, 20%),
    300: hsl(0, 0%, 30%),
    400: hsl(0, 0%, 40%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 60%),
    700: hsl(0, 0%, 70%),
    800: hsl(0, 0%, 80%),
    900: hsl(0, 0%, 90%),
    1000: hsl(0, 0%, 100%),
  ),
  blueGray: (
    0: hsl(210, 36%, 96%),
    100: hsl(212, 33%, 89%),
    200: hsl(210, 31%, 80%),
    300: hsl(211, 27%, 70%),
    400: hsl(209, 23%, 60%),
    500: hsl(209, 22%, 49%),
    600: hsl(198, 22%, 36%),
    700: hsl(209, 34%, 30%),
    800: hsl(211, 39%, 23%),
    900: hsl(209, 61%, 16%),
  ),
  black: (
    0: hsl(0deg 0% 0%),
    50: hsl(0deg 0% 5%),
    100: hsl(0deg 0% 10%),
    150: hsl(0deg 0% 15%),
    200: hsl(0deg 0% 20%),
    250: hsl(0deg 0% 25%),
    300: hsl(0deg 0% 30%),
    350: hsl(0deg 0% 35%),
    400: hsl(0deg 0% 40%),
    450: hsl(0deg 0% 45%),
    500: hsl(0deg 0% 50%),
    550: hsl(0deg 0% 55%),
    600: hsl(0deg 0% 60%),
    650: hsl(0deg 0% 65%),
    700: hsl(0deg 0% 70%),
    750: hsl(0deg 0% 75%),
    800: hsl(0deg 0% 80%),
    850: hsl(0deg 0% 85%),
    900: hsl(0deg 0% 90%),
    950: hsl(0deg 0% 95%),
    1000: hsl(0deg 0% 100%),
  ),
);
